.inline
{
    display: inline-block;
}

.hidden
{
    display: none;
}

.area
{
    background: lightgray;
    margin: 10px;
    padding: 10px;
}

.button
{
    background: white;
    padding: 5px;
    border: 1px solid darkgray;
    cursor: pointer;
}

.nutrient
{
    background: #e6e6e6;
    padding-left: 5px;
    padding-top: 5px;
    width: 250px;
    height: 60px;
    margin: 5px;
    overflow: hidden;
}

.nutrientFilters .nutrient
{
    height: 70px;
}

.nutrient .boxes
{
    vertical-align: top;
}

.inline.tresholds .treshold
{
    width: 75px;
    padding: 1px;
    border: none;
    margin-left: 10px;
}

.nutrient .name
{
    width: 220px;
    margin-top: 3px;
}
